<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/bootstrap-dist/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bootstrap-dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/bootstrap-dist/css/login.css">

  <title>添加乘机人</title>
</head>

<body id="home">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="/app02/help" class="navbar-brand"> <img src="/static/bootstrap-dist/img/logo1.png" height="40" width="40"> &nbsp;&nbsp;<strong><i>FDDS 航空</i></strong></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
               </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/app02/index" class="nav-link">主页</a>
          </li>
          <li class="nav-item">
            <a href="/app02/information" class="nav-link">账户</a>
          </li>
          <li class="nav-item">
            <a href="/app02/passenger" class="nav-link active">乘机人</a><!--可以把乘机人放到账户下面-->
          </li>
          <li class="nav-item">
            <a href="/app02/search/" class="nav-link">航班</a>
          </li>
          <li class="nav-item">
            <a href="/app02/order_list/" class="nav-link">订单</a>
          </li>
        </ul>
        &nbsp; <a href="{% url 'logout' %}" class="btn btn-info " role="button">退出登录</a>
      </div>
    </div>
  </nav>

  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container" >
    <div class="row">
        <div class="col-sm-10 col-md-10 ml-5 pl-5" >
              <!-- <h1 class="display-4 text-center">登陆</h1> -->
            <div class="account-wall_2">
                <form class="form-signin" action="" method="post">
                  {% csrf_token %}
                <p style="color:#54595e;">乘机人姓名<input type="text" class="form-control" name="name" required > {{error1}}</p>
                <p style="color:#54595e;">乘机人身份证号<input type="text" class="form-control" name="idnum" required >{{error2}}</p>
                <p style="color:#54595e;">乘机人手机号<input type="text" class="form-control" name="telnum" required></p>

                <br>
                <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">
                    提交</button>

                </label>
                <a href="/app02/help" class="pull-right need-help">帮助 </a><span class="clearfix"></span>
                </form>
            </div>

        </div>
    </div>


        </div>
      </div>
    </div>
  </header>


<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="p-5">
          <h1 class="display-4">联系我们</h1>
            <br>
          <p class="lead">如果您有任何问题，欢迎联系我们。</p>
            <br>
          <a href="/app02/help" class="btn btn-outline-secondary">详情</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


  <script src="/static/bootstrap-dist/js/jquery.min.js"></script>
  <script src="/static/bootstrap-dist/js/popper.min.js"></script>
  <script src="/static/bootstrap-dist/js/bootstrap.min.js"></script>
</body>

</html>
