<!DOCTYPE html>
<html class="no-js" lang="zh-Hans">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/bootstrap-dist/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bootstrap-dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/bootstrap-dist/css/passenger.css">

  <title>订单列表</title>
</head>

<body id="home">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="/app02/help" class="navbar-brand"> <img src="/static/bootstrap-dist/img/logo1.png" height="40" width="40"> &nbsp;&nbsp;<strong><i>FDDS 航空</i></strong></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
               </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/app02/index" class="nav-link">主页</a>
          </li>
          <li class="nav-item">
            <a href="/app02/information" class="nav-link">账户</a>
          </li>
          <li class="nav-item">
            <a href="/app02/passenger" class="nav-link ">乘机人</a><!--可以把乘机人放到账户下面-->
          </li>
          <li class="nav-item">
            <a href="/app02/search/" class="nav-link ">航班</a>
          </li>
          <li class="nav-item">
            <a href="/app02/order_list" class="nav-link active">订单</a>
          </li>
        </ul>
			&nbsp; <a href="{% url 'logout' %}" class="btn btn-info " role="button">退出登录</a>
      </div>
    </div>
  </nav>

  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div>
          <h1 class="display-6"><strong>我的票务</strong></h1>
          </div>
          <br>
		      <div style="overflow: scroll;height: 10cm;">
    <table class="table_3"><!--table926-->
    <thead>
        <tr>
        <th>订单编号</th>
        <th>航班号</th>
        <th>出发日期</th>
        <th>乘机人姓名</th>
        <th>乘机人身份证号</th>
        <th>舱位</th>
        <th>订票时间</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody style="overflow:scroll;">
        {% for order_object,passenger_object,flight_object in combined_list %}
        <tr>
        <td>{{order_object.id}}</td>
        <td>{{flight_object.flight_id}}</td>
        <td>{{flight_object.departure_day}}</td>
        <td>{{passenger_object.name}}</td>
        <td>{{passenger_object.idnum}}</td>
        <td>{{order_object.classtype}}</td>
        <td>{{order_object.ordertime}}</td>
            <td class="text-center"><a
                    href="/app02/refunding/?orderid={{order_object.id}}" class="btn btn-danger btn-md"><span
                    class="glyphicon glyphicon-remove"></span> 退票</a></td>
        </tr>
        {% endfor %}
</tbody>
    </table>
        </div>
      </div>
    </div>
  </div>
</header>


<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="p-5">
          <h1 class="display-4">联系我们</h1>
            <br>
          <p class="lead">如果您有任何问题，欢迎联系我们。</p>
            <br>
          <a href="/app02/help" class="btn btn-outline-secondary">详情</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>



